/*reset*/
* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
/*layout*/
.container {
    max-width: 1124px;
    margin:0 auto;
    padding:0 1rem;
}
/*header*/
header h1 {
    font-family: "Nerko One", system-ui;
    color: rgba(255, 150, 20, 1);
    font-size: 2.5rem;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}


/*hero*/
.hero {
    background-color: rgba(246, 245, 243, 1);
}
body {
    font-family: "Montserrat", sans-serif;
}
.hero .container .row .col > p {
    font-size: 12px;
    color: grey;
    margin-bottom:15px;
}
.hero .container .row .col > h1 {
    color:rgba(78, 57, 105, 1);
    font-size: 2rem;

}
.hero .container .row .col > .responsive-h1 {
    display: none;
}
.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
}
.row-card {
    flex-basis: 100%;
}
.col .card {
    background-color: white;
}
.row-card h2 {
    margin-bottom: 20px;
}
.ul-card > li {
    margin-bottom:10px;
}
.ul-logo {
    display: flex;
    justify-content: space-between;
    padding:10px 0px;
}
.ul-logo > li {
    padding: 10px;
    background-color: white;
    border-radius: 999px;
}
.ul-logo li span {
    display: none;
}



/*media query*/
@media (min-width:768px) {
    /*header*/
    header h1 {
        text-align: left;
        padding-left: 20px;

    }
    
    /*hero*/
    .hero .container .row .col > h1 {
        display:none;
    
    }
    .hero .container .row .col > .responsive-h1 {
        display: inline-block;
        color:rgba(78, 57, 105, 1);
        font-size: 2rem;
        margin-bottom:20px;
        
    }
    .ul-card {
        display: flex;
        flex-wrap: wrap;
        
        column-gap: 148px;
        row-gap: 20px;

    }
    .ul.card > li {
        flex-grow:1;
        margin-bottom:0px;
        display: inline-block;
        padding: 10px;
        flex-basis:33.33%;
    }
    .hero .container .row .col > p {
        padding-top: 40px;
    }
    .ul-logo li span {
        display: inline;
    }



}
@media (min-width:992px) {
    /*hero*/
    .row-card.col-8 {
        flex-basis: calc((100%/3)*2);
    }
    .row-card.col-4 {
        flex-basis:calc(100%/3);
        padding:20px;
    }
    .row-card h2 {
        margin-bottom: 60px;
    }
    .ul-card {
        row-gap:30px;
    }
    .hero .container .row .col > .responsive-h1 {
        margin-bottom:30px;
    }
}



